@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<span>@Model.StatusMessage</span>
<span> You can now <a asp-page="/Account/Login" asp-route-returnUrl="@Url.Page("/", new { area = "" })">login</a></span>